.wrapper
{
    background:linear-gradient(rgba(0, 0, 255, 0.614),purple);
    height: 100vh;
    width: 100vw;
    color: white;
    text-align: center;
}
.wrapper .header{
    /* border: 2px solid white; */
    padding: 10px 0;
    margin-bottom: 50px;
}
tbody{
--bs-table-color:white;
--bs-table-bg:transparent;
border: none;
}